<?xml version="1.0" encoding="UTF-8"?>
<web-app
    xmlns="http://java.sun.com/xml/ns/javaee"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
    version="3.0">

    
  <display-name>Domel servlets playground</display-name>
    
  <context-param>
    <param-name>adminEmailContext</param-name>
    <param-value>tprokop@prothomsoft.com</param-value>
  </context-param>
  
  <context-param>
    <param-name>breed</param-name>
    <param-value>domel breed</param-value>
  </context-param>
  
  <servlet>
  	<servlet-name>BeerServlet</servlet-name>
  	<servlet-class>servlets.controler.BeerServlet</servlet-class>
  	<init-param>
  	    <param-name>adminEmail</param-name>
  	    <param-value>tprokop@prothomsoft.com</param-value>
  	</init-param>
  	<init-param>
        <param-name>userEmail</param-name>
        <param-value>tprokop@prothomsoft.com</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
  	<servlet-name>BeerServlet</servlet-name>
  	<url-pattern>/beer/BeerServletUrl.do</url-pattern>
  </servlet-mapping>
    
  <servlet>    
    <servlet-name>NullServlet</servlet-name>
    <servlet-class>servlets.questions.q2.NullServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NullServlet</servlet-name>
    <url-pattern>/questions/q2/NullServlet.do</url-pattern>
  </servlet-mapping>
    
  <servlet>
        <servlet-name>Resteasy</servlet-name>
        <servlet-class>org.jboss.resteasy.plugins.server.servlet.HttpServletDispatcher</servlet-class>
  </servlet>
  <servlet-mapping>
        <servlet-name>Resteasy</servlet-name>
        <url-pattern>/restful-services/*</url-pattern>
  </servlet-mapping>
  
   <context-param>
        <param-name>resteasy.scan</param-name>
        <param-value>true</param-value>    
   </context-param>
    
   <context-param>
        <param-name>resteasy.servlet.mapping.prefix</param-name>
        <param-value>/restful-services</param-value>
   </context-param>
  
  <session-config>
      <session-timeout>15</session-timeout>
  </session-config>
  
  <welcome-file-list>
      <welcome-file>index.jsp</welcome-file>
      <welcome-file>index.html</welcome-file>
  </welcome-file-list>
  
  <error-page>
    <exception-type>java.lang.ArithmeticException</exception-type>
    <location>/error/arithmeticPage.jsp</location>
  </error-page>
  
  <error-page>
    <exception-type>java.lang.Throwable</exception-type>
    <location>/error/exceptionPage.jsp</location>
  </error-page>
  
  <error-page>
    <error-code>404</error-code>
    <location>/error/notFoundPage.jsp</location>
  </error-page>
  
  <security-role>
      <role-name>Admin</role-name>
  </security-role>  
  <security-role>
      <role-name>Member</role-name>
  </security-role>
  <security-role>
      <role-name>Guest</role-name>
  </security-role>
      
  <login-config>
      <auth-method>FORM</auth-method>
      <form-login-config>
      <form-login-page>/login/login.jsp</form-login-page>
      <form-error-page>/login/error.jsp</form-error-page>
      </form-login-config>
  </login-config>
  
  <security-constraint>
      <web-resource-collection>
          <web-resource-name>Admin panel access</web-resource-name>
          <description>description is optional</description>
          <url-pattern>/admin/*</url-pattern>
          <http-method>DELETE</http-method>
          <http-method>PUT</http-method>
          <http-method>HEAD</http-method>
          <http-method>OPTIONS</http-method>
          <http-method>TRACE</http-method>
          <http-method>GET</http-method>
          <http-method>POST</http-method>
      </web-resource-collection>
      <web-resource-collection>
          <web-resource-name>Member area access</web-resource-name>
          <description>description is optional</description>
          <url-pattern>/member/*</url-pattern>
          <http-method>DELETE</http-method>
          <http-method>PUT</http-method>
          <http-method>HEAD</http-method>
          <http-method>OPTIONS</http-method>
          <http-method>TRACE</http-method>
          <http-method>GET</http-method>
          <http-method>POST</http-method>
      </web-resource-collection>
      <auth-constraint>
          <role-name>Admin</role-name>
      </auth-constraint>
      <user-data-constraint>
          <transport-guarantee>NONE</transport-guarantee>
      </user-data-constraint>
  </security-constraint>
  
  <security-constraint>
      <web-resource-collection>
          <web-resource-name>Member area access</web-resource-name>
          <description>description is optional</description>
          <url-pattern>/member/*</url-pattern>
          <http-method>DELETE</http-method>
          <http-method>PUT</http-method>
          <http-method>HEAD</http-method>
          <http-method>OPTIONS</http-method>
          <http-method>TRACE</http-method>
          <http-method>GET</http-method>
          <http-method>POST</http-method>
      </web-resource-collection>
      <auth-constraint>
          <role-name>Admin</role-name>
          <role-name>Member</role-name>
      </auth-constraint>
      <user-data-constraint>
          <transport-guarantee>NONE</transport-guarantee>
      </user-data-constraint>
  </security-constraint>  
  
</web-app>
