<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" 
    xmlns="http://java.sun.com/xml/ns/javaee" 
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
    xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
    http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    
  <display-name>Domel servlets playground</display-name>
    
  <context-param>
    <param-name>adminEmailContext</param-name>
    <param-value>tprokop@prothomsoft.com</param-value>
  </context-param>
  
  <context-param>
    <param-name>breed</param-name>
    <param-value>domel breed</param-value>
  </context-param>

  <listener>
      <listener-class>servlets.listeners.MyServletContextListener</listener-class>
  </listener>
  
  <listener>
      <listener-class>servlets.listeners.BeerSessionListener</listener-class>
  </listener>
  
  <listener>
      <listener-class>servlets.listeners.BeerAttributeListener</listener-class>
  </listener>
  
  <servlet>
  	<servlet-name>BeerServlet</servlet-name>
  	<servlet-class>servlets.controler.BeerServlet</servlet-class>
  	<init-param>
  	    <param-name>adminEmail</param-name>
  	    <param-value>tprokop@prothomsoft.com</param-value>
  	</init-param>
  	<init-param>
        <param-name>userEmail</param-name>
        <param-value>tprokop@prothomsoft.com</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
  	<servlet-name>BeerServlet</servlet-name>
  	<url-pattern>/beer/BeerServletUrl.do</url-pattern>
  </servlet-mapping>
  
  <session-config>
      <session-timeout>15</session-timeout>
  </session-config>
  
  <error-page>
    <exception-type>java.lang.ArithmeticException</exception-type>
    <location>/error/arithmeticPage.jsp</location>
  </error-page>
  
  <error-page>
    <exception-type>java.lang.Throwable</exception-type>
    <location>/error/exceptionPage.jsp</location>
  </error-page>
  
  <error-page>
    <error-code>404</error-code>
    <location>/error/notFoundPage.jsp</location>
  </error-page>
  
</web-app>
